<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FALLBACK_iOS_btGateway_config_zh_CN_1</key>
	<string>751C6606A9EAABC9C11E671154D27BE7</string>
	<key>FALLBACK_ios_annual_user_report_zh_CN_1</key>
	<string>2CE4BBDF9A94DCE99B0463AAB78B40B1</string>
	<key>FDS_card_control_config_zh_CN_3</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/app_config/zh_CN-3-card_control_config-1517483857.json</string>
	<key>FDS_lumi_extra_map_info_en_2</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/app_config/en-2-lumi_extra_map_info-1516333886.json</string>
	<key>FDS_roomconfig_zh_CN_3</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/app_config/zh_CN-3-roomconfig-1517386774.json</string>
	<key>FDS_shortcut_card_device_config_zh_CN_1</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/app_config/zh_CN-1-shortcut_card_device_config-1517485351.json</string>
	<key>FamilyCommonRoomIconsUserDefaultKey</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/resource_package/201710161554_ShortcutIcons2x.zip</string>
	<key>GEOUsageSessionID</key>
	<data>
	CM24p8jgqYigCBCpwbGvzvG980A=
	</data>
	<key>GEOUsageSessionIDGenerationTime</key>
	<real>539339052.38861001</real>
	<key>MHIFTScrollPageSelectedIndexMHIFTMainViewController(null)</key>
	<integer>0</integer>
	<key>MIOT_SessionID</key>
	<dict>
		<key>s</key>
		<string>Start_1517646207698.000000</string>
		<key>t</key>
		<real>1517646253121</real>
		<key>trace</key>
		<string>Start_1517646207698.000000</string>
	</dict>
	<key>MIPUSH_DEVICE_TOKEN_VERSION</key>
	<string>2.2.8</string>
	<key>MIPUSH_SDK_C_ASSIGNED_APP_ID</key>
	<string>2882303761517266489</string>
	<key>MIPUSH_SDK_C_ASSIGNED_APP_KEY</key>
	<string>5241726674489</string>
	<key>MIPUSH_SDK_C_ASSIGNED_DEVICE_TOKEN</key>
	<string>f366ac629db107e896f67ce0d1a01815e2f46c64d3a2e0bd152ea407405b5c4f</string>
	<key>MIPUSH_SDK_C_ASSIGNED_RESOURCE_ID</key>
	<string>ip635899</string>
	<key>MIPUSH_SDK_C_ASSIGNED_SDK_VERSION</key>
	<string>2.2.8</string>
	<key>MIPUSH_SDK_C_ASSIGNED_SERVICE_URL_FLAG</key>
	<string>online</string>
	<key>MIPUSH_SDK_S_ASSIGNED_REG_AT</key>
	<string>1517646137437</string>
	<key>MIPUSH_SDK_S_ASSIGNED_REG_ID</key>
	<string>35N6F2GEsxWMkIVyszkaUA8wdrS+tkVcu5PQNNf1HDM=</string>
	<key>MIPUSH_SDK_S_ASSIGNED_REG_SECRET</key>
	<string>AQgHScpzCCOwEYb1lsAAAA==</string>
	<key>MIPUSH_SDK_S_ASSIGNED_USER_ID</key>
	<string>40801687476</string>
	<key>MIPUSH_SDK_S_ASSIGNED_USER_SECURITY</key>
	<string>jF/GS52nPtKBxWllDYi+sA==</string>
	<key>MIPUSH_SDK_S_ASSIGNED_USER_TOKEN</key>
	<string>S384VhMRhwCP+PeaY07sYnw2vZzefcJWhy24Unsfgl2XFONkHkOOJhVYvJvfkH3GI1KtVfno1M09FPyiUdHmKtaApojml3F/u1N85tArtwDrW8FhxEm9SYooJzSStammM56mhmLtIDnwtEwUSHVAmAxUFSCfLWycilt/HYeTUqr3zhd29bgJ76HNa3Jo8X/1sCmkYCDt+CyDaAt7rr06AA==</string>
	<key>MJRefreshHeaderLastUpdatedTimeKey</key>
	<date>2018-02-03T08:26:48Z</date>
	<key>MTA_SDK_DB_VER</key>
	<integer>1</integer>
	<key>MiotShopValueKey_cn_22594712</key>
	<integer>0</integer>
	<key>OpenUDID</key>
	<dict>
		<key>OpenUDID</key>
		<string>8607329473ff0f1f444025c65a3511f0ea5fcbf4</string>
		<key>OpenUDID_appUID</key>
		<string>219B80F0-1D4A-42ED-B00D-56BCEE519D3F</string>
		<key>OpenUDID_createdTS</key>
		<date>2018-02-03T08:23:27Z</date>
		<key>OpenUDID_slot</key>
		<string>org.OpenUDID.slot.1</string>
	</dict>
	<key>RoomIconPakageUrlKey</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/resource_package/201710171149_roomIcons.zip</string>
	<key>SETTINGVALUE_KEY_cn_22594712</key>
	<integer>0</integer>
	<key>StoreLogCache</key>
	<array/>
	<key>UMAppVersion</key>
	<string>4.6.0</string>
	<key>WEIBOSDKAID</key>
	<string>01Aur2f5IF3h6qps8eXWbfx6sWPU3P6YS2mLb4HOTv-E4hYWA.</string>
	<key>WebDatabaseDirectory</key>
	<string>/var/mobile/Containers/Data/Application/3A3D85D3-C32B-4F92-B82D-43B4879E70E8/Library/Caches</string>
	<key>WebKitLocalStorageDatabasePathPreferenceKey</key>
	<string>/var/mobile/Containers/Data/Application/3A3D85D3-C32B-4F92-B82D-43B4879E70E8/Library/Caches</string>
	<key>WebKitOfflineWebApplicationCacheEnabled</key>
	<true/>
	<key>WebKitShrinksStandaloneImagesToFit</key>
	<true/>
	<key>WidgetHintBadgeValueKey_cn_22594712</key>
	<integer>0</integer>
	<key>appkey</key>
	<string>59e9c5b8310c936b60000027</string>
	<key>beaconclearonce</key>
	<true/>
	<key>com.xiaomi.mipush.udid</key>
	<string>2522953029B8463896EA29EE8046BE46</string>
	<key>com.xiaomi.stat.upload.interval</key>
	<real>600</real>
	<key>com.xiaomi.stat.upload.maxcount</key>
	<integer>60</integer>
	<key>dfe1b331c846260f0d45c3297c69b41f</key>
	<true/>
	<key>familyWallPaperUserDefaultKey</key>
	<string>http://cdn.fds.api.xiaomi.com/miio.files/resource_package/201710251730_FamilyWallPaper.zip</string>
	<key>kAppiraterCurrentVersion</key>
	<string>4.6.0</string>
	<key>kAppiraterFirstUseDate</key>
	<real>1517646252.7270389</real>
	<key>kAppiraterLastUseDate</key>
	<real>1517646252.7402282</real>
	<key>kAppiraterUseCount</key>
	<integer>1</integer>
	<key>kAppiraterUseCountPerDay</key>
	<integer>1</integer>
	<key>kLastTimeMigrateVersionKey</key>
	<string>4.6.0</string>
	<key>kQASettingOfflineEntryUserDefaultKey</key>
	<false/>
	<key>kQASettingShowPluginInfoUserDefaultKey</key>
	<false/>
	<key>kRNDebugUserDefaultKey</key>
	<false/>
	<key>kStoreNotSupport</key>
	<false/>
	<key>lastPostInterval</key>
	<real>1517646651.452677</real>
	<key>lastcancelupgradetime_lumi.158d0001656026</key>
	<real>0.0</real>
	<key>logoFalg_lumi.sensor_motion.v2</key>
	<true/>
	<key>mihome_current_banner_22594712_cn</key>
	<integer>0</integer>
	<key>mihome_currenthomeid_22594712_cn</key>
	<string>482001005611</string>
	<key>mihome_isTransfer_home_22594712_cn</key>
	<true/>
	<key>scenariotype</key>
	<integer>0</integer>
	<key>umAESMsg</key>
	<string>AhHWo2Ym3O7Mlm1FCPV0SQ==</string>
	<key>umActivateMsg</key>
	<integer>1517646207919</integer>
	<key>umDBKey</key>
	<string>8607329473ff0f1f444025c65a3511f0ea5fcbf4</string>
	<key>umIDTracking</key>
	<data>
	DQABCwwAAAAEAAAABGlkZnYLAAEAAAAkOTkzRDA3MzktQkY4MC00NjJBLTk2RUUtQTk5
	RDY1QkQzREI5CgACAAABYVrDX2kIAAMAAAABAAAAAARpZGZhCwABAAAAJDI1MjI5NTMw
	LTI5QjgtNDYzOC05NkVBLTI5RUU4MDQ2QkU0NgoAAgAAAWFaw19pCAADAAAAAQAAAAAD
	b2lkCwABAAAAKDg2MDczMjk0NzNmZjBmMWY0NDQwMjVjNjVhMzUxMWYwZWE1ZmNiZjQK
	AAIAAAFhWsNfaQgAAwAAAAEAAAAAAm1jCwABAAAAETAyOjAwOjAwOjAwOjAwOjAwCgAC
	AAABYVrDX2gIAAMAAAABAA8AAgwAAAAACwADAAAACGNoZWNrc3VtAA==
	</data>
	<key>umImprint</key>
	<data>
	DQABCwwAAAAKAAAAEGluc3RhbGxfZGF0ZXRpbWULAAEAAAATMjAxOC0wMi0wMyAxNjoy
	MTozMgoAAgAAAWFawZhUCwADAAAAKDI0ZmFhZDZhMDY4NmI1MjczY2UzYTU3YmE2YzVi
	MjZmNjRlYmIzODEAAAAAC2FwcF92ZXJzaW9uCwABAAAABTQuNi4wCgACAAABYVrBmFQL
	AAMAAAAoMjRmYWFkNmE2ZDQ4YTM3YzdhYjBlY2I3NTk2ZjUwZTFhZGQ1MTkwZAAAAAAG
	aml0dGVyCwABAAAABC0xMTYKAAIAAAFhWsGYVAsAAwAAACgyNGZhYWQ2YWI1MTNiMTNh
	MjI3MDZjNjRjNDJlMTRmNGIwZThiMWJhAAAAAAdjaGFubmVsCwABAAAACUFwcCBTdG9y
	ZQoAAgAAAWFawZhUCwADAAAAKDI0ZmFhZDZhOWY3ODI5YTY2NzEyODM2MTVjZGIxYTcw
	MWJhYTRkNGIAAAAABHVtaWQLAAEAAAAfYzdhM2RjOTExZjExYjk2ZjZiMTczYWZkMmE2
	NjU0ZQoAAgAAAWFawZhUCwADAAAAKDI0ZmFhZDZhNDc3YWUwNTMyNWY3NDBkMWEyMDEz
	NTYyZTY2MWM3N2IAAAAAB3ByZXRpbWULAAEAAAANMTUxNzY0NjUzNDI3MQoAAgAAAWFa
	yFZ/CwADAAAAKDBmMzRhNDZhNjY1NjUyNGExYzJjY2JkMGJmZmVlNDZmMzRmMjAxNGQA
	AAAACm9zX3ZlcnNpb24LAAEAAAAFOS4wLjIKAAIAAAFhWsGYVAsAAwAAACgyNGZhYWQ2
	YTkzNTRmMWJkZGY3Mzc1ZDVlZTkxNjg3ZTliMTc5MTRiAAAAAAF2CwABAAAABTUtNS01
	CgACAAABYVrBmFQLAAMAAAAoMjRmYWFkNmFmN2I1ZmIxMGY4ZjVhZTUzYzhlYjM3NmQz
	ZmRlMDAxNgAAAAAPaW5zdGFsbF9jaGFubmVsCwABAAAACUFwcCBTdG9yZQoAAgAAAWFa
	wZhUCwADAAAAKDI0ZmFhZDZhYzQwOTg2MTJjYWFmMGY2MGRlNmU0OGVhNThiNzRlNzcA
	AAAAE2luc3RhbGxfYXBwX3ZlcnNpb24LAAEAAAAFNC42LjAKAAIAAAFhWsGYVAsAAwAA
	ACgyNGZhYWQ2YWFkMjM2MzdkZmRkYmMzZDc1Y2IzMmJjYjZhZjQxM2Y5AAgAAgAAAAEL
	AAMAAAAgYzA2YzdhYjJlYTNlM2E2YTRmZDNjZWQxMjNjM2U2NjMA
	</data>
	<key>umLastRequestSpentMS</key>
	<integer>263</integer>
	<key>umPeriodEvtCount</key>
	<integer>19</integer>
	<key>umSeparatedTime</key>
	<real>1517646208.0097861</real>
	<key>umSerialNum</key>
	<integer>3</integer>
	<key>umSignature</key>
	<data>
	gHHAUbHL4tip/7ON5xt/tZX38xna4WzGMyWIQPHrdVo=
	</data>
	<key>umSuccessfulRequests</key>
	<integer>2</integer>
	<key>um_uop_count</key>
	<dict>
		<key>count</key>
		<integer>2</integer>
		<key>date</key>
		<string>2018-02-03</string>
	</dict>
	<key>umcReportInterval</key>
	<real>600</real>
	<key>umcReportPolicy</key>
	<integer>6</integer>
	<key>xm_accessToken</key>
	<string>9e25be81719141b169198aaf14944bc2</string>
	<key>xm_expires_in</key>
	<integer>13233</integer>
	<key>xm_tokenRefreshTime</key>
	<real>1517646211.8338652</real>
</dict>
</plist>
